* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  /* width: 1200px; */
  max-width: 1200px;
  /* border: 1px solid red; */
  margin: 0px auto;
  padding: 1rem 2rem;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}
header img {
  width: 200px;
}
button {
  border: 2px solid rgb(175, 8, 8);
  border-radius: 5px;
  padding: 1rem 1.2rem;
  box-shadow: 2px 3px 2px 3px;
  margin: 1rem 0.5rem;
  white-space: nowrap;
}
button:hover {
  cursor: pointer;
  opacity: 0.9;
  transform: scale(0.97);
}
.button__light {
  background-color: white;
  color: rgb(107, 8, 8);
}
.button__dark {
  background-color: rgb(107, 8, 8);
  color: white;
}
nav.hero {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}
nav.hero img {
  width: 30%;
  flex: 1;
}
nav.hero section {
  flex: 1;
}
nav.hero h1 {
  line-height: 30px;
  font-size: 20px;
}
nav.hero p {
  line-height: 20px;
  font-size: 14px;
  padding-top: 1rem;
}
main .card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 20px;
  box-shadow: 3px 3px 3px 3px rgb(114, 110, 110);
  margin: 1rem;
}

main .card article {
  flex: 1;
}
main .card img {
  width: 100%;
}
main .card:nth-child(odd) {
  flex-direction: row;
}
main .card:nth-child(even) {
  flex-direction: row-reverse;
}
@media screen and (min-width: 700px) and (max-width: 1200px) {
  body {
    background-color: greenyellow;
  }
}

@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
    text-align: center;
  }
  header button {
    margin: 0.5rem;
  }
  header img {
    width: 300px;
  }
  nav .hero {
    flex-direction: column;
  }
  nav .hero section {
    text-align: center;
  }
  main .card:nth-child(odd) {
    flex-direction: column;
  }
  main .card:nth-child(even) {
    flex-direction: column;
  }
  body {
    background-color: aqua;
  }
}
