* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  font-size: 30px;
  text-align: center;
  margin: 15px;
  color: rgb(189, 12, 12);
}
body {
  background-image: url(https://cdn.pixabay.com/photo/2022/12/01/17/52/sea-7629517_960_720.jpg);
  background-repeat: none;
  background-size: cover;
}
form {
  background: linear-gradient(to right, #d6a4a4, #dae2f8);
  margin: 15px auto;
  border: 2px solid wheat;
  border-radius: 10px;
  font-weight: 700;
  width: fit-content;
  padding: 30px;
}
label {
  padding: 10px;
  font-size: 30px;
  text-align: left;
  margin: 10px;
  display: inline-block;
  /* text-size-adjust: 25px; */
  width: 190px;
}
div {
  padding: 10px 15px;
  text-align: left;
  /* width: 1px; */
  display: block;

  /* margin: 20px; */
}
input {
  font-size: 30px;
  border-radius: 5px;
}
#adress {
  border: 2px solid;
  border-radius: 5px;
  font-size: 20px;
}
#country {
  font-size: 30px;
}
/* .gender{
    font: size 40px;
    margin-left:  10px;
    /* padding: 10px; */
/* } */
.gen-div label {
  width: auto;
  margin-right: 10px;
  /* text-align: left; */
  width: fit-content;
}
textarea {
  vertical-align: middle;
  resize: none;
}
.sub-res {
  text-align: center;

  /* margin-left: 10px; */
}
#sub-cle {
  margin-left: 20px;
  border: none;
  font-size: 40px;
}
.sub-res input:hover {
  cursor: pointer;
  background-color: blueviolet;
}
