* {
  margin: o;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
}
header {
  padding: 30px;
  background-color: red;
  color: white;
  font-size: 40px;
}
nav {
  padding: 20px;
  /* margin: 15px; */
  font-size: 20px;
  background-color: #bc6bfa;
  color: white;
}
a {
  font-size: larger;
  color: white;
  margin: 10px;
  text-decoration: underline;
}
/* a:active {
  color: blue;
} */
a:hover {
  text-decoration: overline;
  cursor: ;
  /* color: yellow; */
}
footer {
  background-color: black;
  color: white;
  padding: 40px;
}
