* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.box {
  width: 7rem;
  height: 7rem;
}
.box1 {
  background-color: aqua;
  position: relative;
  left: 2rem;
  top: 5rem;
}
.box2 {
  background-color: brown;
  position: relative;
  top: 5rem;
  left: 2rem;
}
